<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Counter Widget</title>
  <link rel="stylesheet" href="/counter-widget/style.css">
  <link rel="stylesheet" href="/counter-widget/images/anime-icon.css">
  <style>
    body {
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: transparent;
    }
  </style>
</head>
<body>
  <div class="view-counter-widget">
    <div class="view-counter-widget__icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
        <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
      </svg>
    </div>
    <div class="view-counter-widget__count" id="counter">0</div>
  </div>
  
  <script>
    // Đặt siteId trực tiếp vào window object để script có thể truy cập
    window.counterSiteId = "<%= siteId %>";
  </script>
  <script src="/counter-widget/script.js"></script>
</body>
</html>